body {
  background-color: black;

}

.Header {
  /* Ajustar al ancho completo del cuerpo y altura 100px */
  width: 1920px;
  height: 200px;
  position: relative;
  left: -8px;
  top: -8px;
  background-image: url(./assets/imagenes/header.jpg);

}






.menu-bar {

  display: flex;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.menu-item {
  margin: 20px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border: none;
  border-color: aliceblue;
  cursor: pointer;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}

.menu-item:hover,
.dropdown:hover .menu-item {
  background-color: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}




.seccion1 {

  position: relative;
  left: -8px;
  top: 5px;
  width: 1920px;
  height: 400px;
  background-color: blueviolet;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(1900px * 3);
  /* Número de imágenes */
  animation: scroll 35s linear infinite;
}

.carousel-track img {
  display: inline-block;
  width: 1900px;
  height: 400px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3800px);
  }
}

.app {
  background-color: darkblue;
}

#footer {
  position: relative;
  top: 30px;
  left: -8px;
  width: 1920px;
  height: 200px;
  background-image: url(./assets/imagenes/footer.jpg);

}